@model MarketPlace.DataLayer.DTOs.Account.ChangePasswordDTO

@{
    ViewData["Title"] = "تغییر رمزعبور";
}

@section Scripts
{
    <partial name="_JqueryValidator" />
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("UserSideBar");
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">

                        <div class="tab-pane fade  active show" id="account-details">
                            <h3>@ViewData["Title"]</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="User" asp-controller="UserAccount" asp-action="ChangePassword">

                                            <label>رمزعبور فعلی</label>
                                            <input type="password" asp-for="CurrentPassword">
                                            <span class="text-danger" asp-validation-for="CurrentPassword"> </span>

                                            <br />

                                            <label>رمزعبور جدید</label>
                                            <input type="password" asp-for="NewPassword">
                                            <span class="text-danger" asp-validation-for="NewPassword"> </span>

                                            <br />

                                            <label>تکرار رمزعبور جدید</label>
                                            <input type="password" asp-for="ComfirmNewPassword">
                                            <span class="text-danger" asp-validation-for="ComfirmNewPassword"> </span>

                                            <br />

                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ذخیره</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>