@model MarketPlace.DataLayer.DTOs.Common.RejectItemDTO

<input  type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>متن مورد نظر</label>
        <textarea asp-for="RejectMessage" class="form-control" rows="10"></textarea>
        <span class="text-danger" asp-validation-for="RejectMessage"> </span>
    </div>
